# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# vs artifacts
.vs/
x64/
[Dd]ebug/
[Rr]elease/
*.suppress
*.aps
*.user

# my files
**/TODO*
psd/
*.claudiaideconfig

# vtune
**/GPUCache/
**/VTune Profiler Results/
