# whitelist gitignore
/*
!.gitignore

# sources
!/CHWiGrx/
!/ChessCore
!/Testing

# dev tools
!CMakeLists.txt
!Chess.sln
!.clang-format
!flake.nix
!flake.lock

# docs
!README.md
!/Screenshots
!LICENSE
